﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Blazor2021</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="employeeoverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Employee OverView
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="blazorlearningcomponent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blazor Learning Module
            </NavLink>
        </li>
        








        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="blazoroverview">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Blazor OverView
            </NavLink>
        </li>*@
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="speech">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Speech App
            </NavLink>
        </li>*@
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
