﻿@page "/blazorlearningcomponent"

<h3>BlazorLearningComponent</h3>
<ol>
    <li>
        Blazor Component = C# + HTML
    </li>
    <li>
        Partial Class or ComponentBase
    </li>
    <li>
        OnInitializedAsync =>  return base.OnInitializedAsync();
    </li>
    <li>
        index.html
    </li>
    <li>
        [Parameter]
    </li>
 
    <li>
        REST API Rest Constrients
        <ol>
            <li>
                 Client Server
            </li>
            <li>
                 State Less
            </li>
            <li>
                 Cacheable
            </li>
            <li>
                 Uniform Interface
            </li>
        </ol>
    </li>
    <li>
        1. Resource i.e Data Entity
        2. Http Verbs Get,POST,Put,Delete
    </li>
    <li>
        <ol>
            <li>
                Get    => To Fetch Data.
            </li>
            <li>
                Post   => To Create Data.
            </li>
            <li>
                Put    => To Update Data.
            </li>
            <li>
                Patch  => To Update Subset of Data i.e Partial Data.
            </li>
            <li>
                Delete => To Detete Data.
            </li>
        </ol>
            </li>
            <li>
                [Inject] to utilize common service in component
            </li>
        </ol>
