﻿@page   "/blazoroverview"

@if (ListBlazorModels != null)
{
    <h3>Blazor types</h3>
    <ul>
        @foreach (var Blazor in ListBlazorModels)
        {
            <li>@Blazor.BlazorType </li>
            <li>@Blazor.Description </li>
        }


        <h3>Visual Studio Templates for Blazor</h3>
        @foreach (var Blazor1 in ListVSTemplateModel)
        {

            <li>@Blazor1.VSTemplates  </li>

        }
        <h3>Important Directives,Methos, Points</h3>
        @foreach (var Blazor1 in ListDirectiveModel)
        {

            <li>@Blazor1.Directives  </li>

        }
    </ul>
}
