﻿@page "/employeeteamview/{EmployeeId}"
@inherits EmployeeTeamViewBase

<h3>EmployeeTeamView</h3>


@if(EmployeeTeam.EmployeeId==0 || EmployeeTeam.ListTeam==null)
{
<div class="spinner"> </div>
}
else
{
<div>
    EmployeeID:  @EmployeeTeam.EmployeeId
</div>
<h3> His Team</h3>
<div class="card-deck">
    @foreach (var emp in EmployeeTeam.ListTeam)
    {
        <div class="card m-3" style="min-width:12rem;max-width:20.5%">
            <div class="card-header">
                <h6>@emp.FirstName  @emp.LastName   @Cordinates</h6>
            </div>
            <img class="card-img-top" src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/2.jpg")" 
                 @onmousemove="@(e=> Cordinates = $"X={e.ClientX} Y={e.ClientY}")" />
            <button type="button" class="btn btn-primary" @onclick="@btnClick">@Button_Text</button>
            <div class="card-footer text-center @cssClas">
                <a href="#" class="btn btn-primary m-1">Projects</a>
                <a href="#" class="btn btn-primary m-1">Innovations</a>
                <a href="#" class="btn btn-primary m-1">Certificates</a>
            </div>
        </div>
    }

</div>
}