﻿@page "/employeedetail/{EmployeeId}"
@using Blazor2021.Map;

@*<section class="employee-detail">*@
<h1 class="page-title">Details for @Employee.FirstName @Employee.LastName</h1>


<div class="col-12 row">
    <div class="col-2">
        <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{Employee.EmployeeId}.jpg")" 
             class="img-responsive rounded-circle employee-detail-img" />
    </div>
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Employee ID</label>
                <div class="col-sm-8">
                    <label type="text" class="form-control-plaintext">@Employee.EmployeeId</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.FirstName</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.LastName</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Birthdate</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.BirthDate.ToShortDateString()</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.Email</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Street</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.Street</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Zip</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.Zip</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.City</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Phone number</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.PhoneNumber</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.Gender</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Smoker</label>
                <div class="col-sm-8">

                    @if (Employee.Smoker)
                    {
                        <label type="text" readonly class="form-control-plaintext">Yes</label>
                    }
                    else
                    {
                        <label type="text" readonly class="form-control-plaintext">No</label>

                    }
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Joined us</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.JoinedDate?.ToShortDateString()</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Left us</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Employee.ExitDate?.ToShortDateString()</label>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="track-order-map">
                <Map Zoom="10" Markers="MapMarkers"></Map>
            </div>
        </div>
    </div>
</div>

    @*</section>*@