﻿@page   "/employeeoverview"

<h3>EmployeeOverview</h3>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Employee ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
            <tr>
                <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{employee.EmployeeId}-small.jpg")" class="rounded-circle" /></td>
                <td>@employee.EmployeeId</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>
                    <a href="@($"employeedetail/{ employee.EmployeeId}")" class="btn btn-primary table-btn">Detail</a>
                </td>
                <td>
                    <a href="@($"employeeteamview/{ employee.EmployeeId}")" class="btn btn-primary table-btn">Team</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
