﻿@page "/speech"

<h3>Speech</h3>


<video controls="controls">
    <source src="file.mp4" type="video/mp4" />
</video>
<input type="text" id="txtspeech" @bind-value="@text_val" />
<button type="button" @onclick="ReadThePassage">Click here to speech the text</button>