﻿@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}



body {
    overflow-x: hidden;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
    font-family: 'Ubuntu', sans-serif;
}

nav {
    background-color: #a593c2;
    border-color: #a593c2;
}

#logo {
    width: 80%;
}

#navbarSupportedContent {
    height: 80px;
}

.navbar {
    padding: 0;
}

.sidebar-logo {
    height: 80px;
    background-color: #a593c2;
    border-color: #a593c2;
    width: 240px;
}


/*profile picture*/
.profile {
    width: 240px;
    overflow-y: visible;
    position: absolute;
}

.profile-bg, .profile-picture {
    width: 240px;
    height: 240px;
    position: absolute;
}

.profile-bg {
    overflow: hidden;
}

    .profile-bg img {
        width: 250px;
        height: 250px;
        filter: blur(16px);
        -webkit-filter: blur(16px);
        margin: -5px;
        border: 0;
    }

.profile-picture img.account-photo {
    width: 160px;
    height: 160px;
    margin-left: 40px;
    margin-top: 40px;
}

.circle {
    border-radius: 50%;
}

.menu {
    position: absolute;
    margin-top: 240px;
}

#sidebar-wrapper {
    width: 240px;
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
        width: 15rem;
    }

.list-group-item.active, .list-group-item.active:active, .list-group-item.active:focus, .list-group-item.active:visited {
    color: white;
    background-color: #a593c2 !important;
    border-color: #a593c2;
    font-weight: bold;
}

.title {
    color: white;
    padding-left: 25px;
}

#page-content-wrapper {
    min-width: 100vw;
}

.container-fluid {
    padding: 25px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.page-title {
    color: #23cfa7;
    font-size: 28px;
}

.table {
    background-color: white;
}

.table-btn {
    background-color: #23cfa7;
    border-color: #23cfa7;
    border-radius: 50%;
}

    .table-btn:hover, .table-btn:active {
        color: #fff;
        background-color: #a593c2 !important;
        border-color: #a593c2 !important;
    }

.quick-add-btn {
    font-size: 36px;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.employee-detail, .employee-edit {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

    .employee-detail .form-group {
        margin-bottom: 0;
    }

.employee-detail-img {
    width: 150px;
    height: auto;
}

.track-order-map {
    width: 350px;
    height: 500px;
    flex-shrink: 0;
}

.edit-btn {
    background-color: #23cfa7;
    border-color: #23cfa7;
    color: #fff;
}

    .edit-btn:hover, .edit-btn:active {
        color: #fff;
        background-color: #a593c2;
        border-color: #a593c2;
    }

.edit-outline-btn {
    border-color: #23cfa7;
}

    .edit-outline-btn:hover, .edit-outline-btn:active {
        color: #fff;
        background-color: #a593c2 !important;
        border-color: #a593c2 !important;
    }

    .spinner{
        border:16px solid silver;
        border-top:16px solid #337AB7;
        border-radius:50%;
        width:80px;
        height:80px;
        animation:spin 700ms linear infinite;
        top:40%;
        left:55%;
        position:absolute;
    }
    @keyframes spin {
        0%{
            transform:rotate(0deg)
        }
        100% {
            transform: rotate(360deg)
        }
    }
.HideFooter {
    display: none;
}